html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, menu, nav, output, ruby,
section, summary, time, mark, audio, video,
input, textarea, button, select {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

input {
  font-family: inherit;
  border: 0;
  outline: none;
}

button {
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  overflow: visible;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  outline: none;
  overflow: auto;
}

iframe {
  border: none;
  overflow: hidden;
}

small {
  font-size: 80%;
}

img {
  max-width: 100%;
}

*::selection {
  color: white;
  -webkit-text-fill-color: white;
  background-color: #00AAFF;
}

*::-moz-selection {
  color: white;
  -webkit-text-fill-color: white;
  background-color: #00AAFF;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font: 16px Roboto, sans-serif;
  overflow-x: hidden;
}

main {
  flex: 1;
  background: #fafafa;
  overflow-x: hidden;
}

.o-spacing {
  padding-right: 1.5625rem;
  padding-left: 1.5625rem;
}

.o-base-width {
  width: 100%;
  max-width: 75rem;
  margin: auto;
}

@media (max-width: 50em) {
  .u-text-center {
    text-align: center;
  }
}

.o-grid--overflow-hidden {
  overflow: hidden;
}
.o-grid--center, .o-grid--center > [class*=gutters] {
  justify-content: center;
}
.o-grid--justify, .o-grid--justify > [class*=gutters] {
  justify-content: space-between;
}
.o-grid--middle, .o-grid--middle > [class*=gutters] {
  align-items: center;
}

[class*=gutters] {
  flex: 1;
}

.o-grid,
[class*=gutters] {
  display: flex;
  flex-wrap: wrap;
}
.o-grid > *,
[class*=gutters] > * {
  box-sizing: border-box;
}

.o-grid--1-8 {
  width: 12.5%;
}

.o-grid--1-6 {
  width: 16.66667%;
}

.o-grid--1-5 {
  width: 20%;
}

.o-grid--1-4 {
  width: 25%;
}

.o-grid--1-3 {
  width: 33.33333%;
}

.o-grid--2-5 {
  width: 40%;
}

.o-grid--1-2 {
  width: 50%;
}

.o-grid--3-5 {
  width: 60%;
}

.o-grid--2-3 {
  width: 66.66667%;
}

.o-grid--3-4 {
  width: 75%;
}

.o-grid--4-5 {
  width: 80%;
}

.o-grid--1-1 {
  width: 100%;
}

.o-gutters--10 {
  margin: -5px;
}
.o-gutters--10 > * {
  padding: 5px;
}

.o-gutters--15 {
  margin: -7.5px;
}
.o-gutters--15 > * {
  padding: 7.5px;
}

.o-gutters--20 {
  margin: -10px;
}
.o-gutters--20 > * {
  padding: 10px;
}

.o-gutters--25 {
  margin: -12.5px;
}
.o-gutters--25 > * {
  padding: 12.5px;
}

.o-gutters--30 {
  margin: -15px;
}
.o-gutters--30 > * {
  padding: 15px;
}

.o-gutters--40 {
  margin: -20px;
}
.o-gutters--40 > * {
  padding: 20px;
}

.o-gutters--50 {
  margin: -25px;
}
.o-gutters--50 > * {
  padding: 25px;
}

.o-gutters--80 {
  margin: -40px;
}
.o-gutters--80 > * {
  padding: 40px;
}

@media (max-width: 1200px) {
  .o-grid--1-8-on-1200 {
    width: 12.5%;
  }

  .o-grid--1-6-on-1200 {
    width: 16.66667%;
  }

  .o-grid--1-5-on-1200 {
    width: 20%;
  }

  .o-grid--1-4-on-1200 {
    width: 25%;
  }

  .o-grid--1-3-on-1200 {
    width: 33.33333%;
  }

  .o-grid--2-5-on-1200 {
    width: 40%;
  }

  .o-grid--1-2-on-1200 {
    width: 50%;
  }

  .o-grid--3-5-on-1200 {
    width: 60%;
  }

  .o-grid--2-3-on-1200 {
    width: 66.66667%;
  }

  .o-grid--3-4-on-1200 {
    width: 75%;
  }

  .o-grid--4-5-on-1200 {
    width: 80%;
  }

  .o-grid--1-1-on-1200 {
    width: 100%;
  }

  .o-gutters--10-on-1200 {
    margin: -5px;
  }
  .o-gutters--10-on-1200 > * {
    padding: 5px;
  }

  .o-gutters--15-on-1200 {
    margin: -7.5px;
  }
  .o-gutters--15-on-1200 > * {
    padding: 7.5px;
  }

  .o-gutters--20-on-1200 {
    margin: -10px;
  }
  .o-gutters--20-on-1200 > * {
    padding: 10px;
  }

  .o-gutters--25-on-1200 {
    margin: -12.5px;
  }
  .o-gutters--25-on-1200 > * {
    padding: 12.5px;
  }

  .o-gutters--30-on-1200 {
    margin: -15px;
  }
  .o-gutters--30-on-1200 > * {
    padding: 15px;
  }

  .o-gutters--40-on-1200 {
    margin: -20px;
  }
  .o-gutters--40-on-1200 > * {
    padding: 20px;
  }

  .o-gutters--50-on-1200 {
    margin: -25px;
  }
  .o-gutters--50-on-1200 > * {
    padding: 25px;
  }

  .o-gutters--80-on-1200 {
    margin: -40px;
  }
  .o-gutters--80-on-1200 > * {
    padding: 40px;
  }
}
@media (max-width: 1000px) {
  .o-grid--1-8-on-1000 {
    width: 12.5%;
  }

  .o-grid--1-6-on-1000 {
    width: 16.66667%;
  }

  .o-grid--1-5-on-1000 {
    width: 20%;
  }

  .o-grid--1-4-on-1000 {
    width: 25%;
  }

  .o-grid--1-3-on-1000 {
    width: 33.33333%;
  }

  .o-grid--2-5-on-1000 {
    width: 40%;
  }

  .o-grid--1-2-on-1000 {
    width: 50%;
  }

  .o-grid--3-5-on-1000 {
    width: 60%;
  }

  .o-grid--2-3-on-1000 {
    width: 66.66667%;
  }

  .o-grid--3-4-on-1000 {
    width: 75%;
  }

  .o-grid--4-5-on-1000 {
    width: 80%;
  }

  .o-grid--1-1-on-1000 {
    width: 100%;
  }

  .o-gutters--10-on-1000 {
    margin: -5px;
  }
  .o-gutters--10-on-1000 > * {
    padding: 5px;
  }

  .o-gutters--15-on-1000 {
    margin: -7.5px;
  }
  .o-gutters--15-on-1000 > * {
    padding: 7.5px;
  }

  .o-gutters--20-on-1000 {
    margin: -10px;
  }
  .o-gutters--20-on-1000 > * {
    padding: 10px;
  }

  .o-gutters--25-on-1000 {
    margin: -12.5px;
  }
  .o-gutters--25-on-1000 > * {
    padding: 12.5px;
  }

  .o-gutters--30-on-1000 {
    margin: -15px;
  }
  .o-gutters--30-on-1000 > * {
    padding: 15px;
  }

  .o-gutters--40-on-1000 {
    margin: -20px;
  }
  .o-gutters--40-on-1000 > * {
    padding: 20px;
  }

  .o-gutters--50-on-1000 {
    margin: -25px;
  }
  .o-gutters--50-on-1000 > * {
    padding: 25px;
  }

  .o-gutters--80-on-1000 {
    margin: -40px;
  }
  .o-gutters--80-on-1000 > * {
    padding: 40px;
  }
}
@media (max-width: 900px) {
  .o-grid--1-8-on-900 {
    width: 12.5%;
  }

  .o-grid--1-6-on-900 {
    width: 16.66667%;
  }

  .o-grid--1-5-on-900 {
    width: 20%;
  }

  .o-grid--1-4-on-900 {
    width: 25%;
  }

  .o-grid--1-3-on-900 {
    width: 33.33333%;
  }

  .o-grid--2-5-on-900 {
    width: 40%;
  }

  .o-grid--1-2-on-900 {
    width: 50%;
  }

  .o-grid--3-5-on-900 {
    width: 60%;
  }

  .o-grid--2-3-on-900 {
    width: 66.66667%;
  }

  .o-grid--3-4-on-900 {
    width: 75%;
  }

  .o-grid--4-5-on-900 {
    width: 80%;
  }

  .o-grid--1-1-on-900 {
    width: 100%;
  }

  .o-gutters--10-on-900 {
    margin: -5px;
  }
  .o-gutters--10-on-900 > * {
    padding: 5px;
  }

  .o-gutters--15-on-900 {
    margin: -7.5px;
  }
  .o-gutters--15-on-900 > * {
    padding: 7.5px;
  }

  .o-gutters--20-on-900 {
    margin: -10px;
  }
  .o-gutters--20-on-900 > * {
    padding: 10px;
  }

  .o-gutters--25-on-900 {
    margin: -12.5px;
  }
  .o-gutters--25-on-900 > * {
    padding: 12.5px;
  }

  .o-gutters--30-on-900 {
    margin: -15px;
  }
  .o-gutters--30-on-900 > * {
    padding: 15px;
  }

  .o-gutters--40-on-900 {
    margin: -20px;
  }
  .o-gutters--40-on-900 > * {
    padding: 20px;
  }

  .o-gutters--50-on-900 {
    margin: -25px;
  }
  .o-gutters--50-on-900 > * {
    padding: 25px;
  }

  .o-gutters--80-on-900 {
    margin: -40px;
  }
  .o-gutters--80-on-900 > * {
    padding: 40px;
  }
}
@media (max-width: 800px) {
  .o-grid--1-8-on-800 {
    width: 12.5%;
  }

  .o-grid--1-6-on-800 {
    width: 16.66667%;
  }

  .o-grid--1-5-on-800 {
    width: 20%;
  }

  .o-grid--1-4-on-800 {
    width: 25%;
  }

  .o-grid--1-3-on-800 {
    width: 33.33333%;
  }

  .o-grid--2-5-on-800 {
    width: 40%;
  }

  .o-grid--1-2-on-800 {
    width: 50%;
  }

  .o-grid--3-5-on-800 {
    width: 60%;
  }

  .o-grid--2-3-on-800 {
    width: 66.66667%;
  }

  .o-grid--3-4-on-800 {
    width: 75%;
  }

  .o-grid--4-5-on-800 {
    width: 80%;
  }

  .o-grid--1-1-on-800 {
    width: 100%;
  }

  .o-gutters--10-on-800 {
    margin: -5px;
  }
  .o-gutters--10-on-800 > * {
    padding: 5px;
  }

  .o-gutters--15-on-800 {
    margin: -7.5px;
  }
  .o-gutters--15-on-800 > * {
    padding: 7.5px;
  }

  .o-gutters--20-on-800 {
    margin: -10px;
  }
  .o-gutters--20-on-800 > * {
    padding: 10px;
  }

  .o-gutters--25-on-800 {
    margin: -12.5px;
  }
  .o-gutters--25-on-800 > * {
    padding: 12.5px;
  }

  .o-gutters--30-on-800 {
    margin: -15px;
  }
  .o-gutters--30-on-800 > * {
    padding: 15px;
  }

  .o-gutters--40-on-800 {
    margin: -20px;
  }
  .o-gutters--40-on-800 > * {
    padding: 20px;
  }

  .o-gutters--50-on-800 {
    margin: -25px;
  }
  .o-gutters--50-on-800 > * {
    padding: 25px;
  }

  .o-gutters--80-on-800 {
    margin: -40px;
  }
  .o-gutters--80-on-800 > * {
    padding: 40px;
  }
}
@media (max-width: 700px) {
  .o-grid--1-8-on-700 {
    width: 12.5%;
  }

  .o-grid--1-6-on-700 {
    width: 16.66667%;
  }

  .o-grid--1-5-on-700 {
    width: 20%;
  }

  .o-grid--1-4-on-700 {
    width: 25%;
  }

  .o-grid--1-3-on-700 {
    width: 33.33333%;
  }

  .o-grid--2-5-on-700 {
    width: 40%;
  }

  .o-grid--1-2-on-700 {
    width: 50%;
  }

  .o-grid--3-5-on-700 {
    width: 60%;
  }

  .o-grid--2-3-on-700 {
    width: 66.66667%;
  }

  .o-grid--3-4-on-700 {
    width: 75%;
  }

  .o-grid--4-5-on-700 {
    width: 80%;
  }

  .o-grid--1-1-on-700 {
    width: 100%;
  }

  .o-gutters--10-on-700 {
    margin: -5px;
  }
  .o-gutters--10-on-700 > * {
    padding: 5px;
  }

  .o-gutters--15-on-700 {
    margin: -7.5px;
  }
  .o-gutters--15-on-700 > * {
    padding: 7.5px;
  }

  .o-gutters--20-on-700 {
    margin: -10px;
  }
  .o-gutters--20-on-700 > * {
    padding: 10px;
  }

  .o-gutters--25-on-700 {
    margin: -12.5px;
  }
  .o-gutters--25-on-700 > * {
    padding: 12.5px;
  }

  .o-gutters--30-on-700 {
    margin: -15px;
  }
  .o-gutters--30-on-700 > * {
    padding: 15px;
  }

  .o-gutters--40-on-700 {
    margin: -20px;
  }
  .o-gutters--40-on-700 > * {
    padding: 20px;
  }

  .o-gutters--50-on-700 {
    margin: -25px;
  }
  .o-gutters--50-on-700 > * {
    padding: 25px;
  }

  .o-gutters--80-on-700 {
    margin: -40px;
  }
  .o-gutters--80-on-700 > * {
    padding: 40px;
  }
}
@media (max-width: 600px) {
  .o-grid--1-8-on-600 {
    width: 12.5%;
  }

  .o-grid--1-6-on-600 {
    width: 16.66667%;
  }

  .o-grid--1-5-on-600 {
    width: 20%;
  }

  .o-grid--1-4-on-600 {
    width: 25%;
  }

  .o-grid--1-3-on-600 {
    width: 33.33333%;
  }

  .o-grid--2-5-on-600 {
    width: 40%;
  }

  .o-grid--1-2-on-600 {
    width: 50%;
  }

  .o-grid--3-5-on-600 {
    width: 60%;
  }

  .o-grid--2-3-on-600 {
    width: 66.66667%;
  }

  .o-grid--3-4-on-600 {
    width: 75%;
  }

  .o-grid--4-5-on-600 {
    width: 80%;
  }

  .o-grid--1-1-on-600 {
    width: 100%;
  }

  .o-gutters--10-on-600 {
    margin: -5px;
  }
  .o-gutters--10-on-600 > * {
    padding: 5px;
  }

  .o-gutters--15-on-600 {
    margin: -7.5px;
  }
  .o-gutters--15-on-600 > * {
    padding: 7.5px;
  }

  .o-gutters--20-on-600 {
    margin: -10px;
  }
  .o-gutters--20-on-600 > * {
    padding: 10px;
  }

  .o-gutters--25-on-600 {
    margin: -12.5px;
  }
  .o-gutters--25-on-600 > * {
    padding: 12.5px;
  }

  .o-gutters--30-on-600 {
    margin: -15px;
  }
  .o-gutters--30-on-600 > * {
    padding: 15px;
  }

  .o-gutters--40-on-600 {
    margin: -20px;
  }
  .o-gutters--40-on-600 > * {
    padding: 20px;
  }

  .o-gutters--50-on-600 {
    margin: -25px;
  }
  .o-gutters--50-on-600 > * {
    padding: 25px;
  }

  .o-gutters--80-on-600 {
    margin: -40px;
  }
  .o-gutters--80-on-600 > * {
    padding: 40px;
  }
}
@media (max-width: 500px) {
  .o-grid--1-8-on-500 {
    width: 12.5%;
  }

  .o-grid--1-6-on-500 {
    width: 16.66667%;
  }

  .o-grid--1-5-on-500 {
    width: 20%;
  }

  .o-grid--1-4-on-500 {
    width: 25%;
  }

  .o-grid--1-3-on-500 {
    width: 33.33333%;
  }

  .o-grid--2-5-on-500 {
    width: 40%;
  }

  .o-grid--1-2-on-500 {
    width: 50%;
  }

  .o-grid--3-5-on-500 {
    width: 60%;
  }

  .o-grid--2-3-on-500 {
    width: 66.66667%;
  }

  .o-grid--3-4-on-500 {
    width: 75%;
  }

  .o-grid--4-5-on-500 {
    width: 80%;
  }

  .o-grid--1-1-on-500 {
    width: 100%;
  }

  .o-gutters--10-on-500 {
    margin: -5px;
  }
  .o-gutters--10-on-500 > * {
    padding: 5px;
  }

  .o-gutters--15-on-500 {
    margin: -7.5px;
  }
  .o-gutters--15-on-500 > * {
    padding: 7.5px;
  }

  .o-gutters--20-on-500 {
    margin: -10px;
  }
  .o-gutters--20-on-500 > * {
    padding: 10px;
  }

  .o-gutters--25-on-500 {
    margin: -12.5px;
  }
  .o-gutters--25-on-500 > * {
    padding: 12.5px;
  }

  .o-gutters--30-on-500 {
    margin: -15px;
  }
  .o-gutters--30-on-500 > * {
    padding: 15px;
  }

  .o-gutters--40-on-500 {
    margin: -20px;
  }
  .o-gutters--40-on-500 > * {
    padding: 20px;
  }

  .o-gutters--50-on-500 {
    margin: -25px;
  }
  .o-gutters--50-on-500 > * {
    padding: 25px;
  }

  .o-gutters--80-on-500 {
    margin: -40px;
  }
  .o-gutters--80-on-500 > * {
    padding: 40px;
  }
}
.c-btn {
  display: inline-block;
  line-height: 1;
  font-weight: bold;
  text-align: center;
  border-radius: 100px;
  transition: 0.2s;
  cursor: pointer;
}
.c-btn:active {
  transition: 0s;
}
.c-btn--sm {
  padding: 0.78571em 1.78571em;
  font-size: 0.875rem;
}
.c-btn--md {
  padding: 1em 2em;
  font-size: 0.875rem;
}
.c-btn--lg {
  padding: 1em 2em;
  font-size: 1rem;
}
.c-btn--red {
  background: #ff746a;
  color: white;
}
.c-btn--blue-dark {
  background: #0a8ccd;
  color: white;
}

.c-navbar {
  height: 3.75rem;
  position: relative;
  z-index: 2;
  color: rgba(255, 255, 255, 0.6);
  background: #0a8ccd;
}
.c-navbar__inner {
  display: flex;
  position: relative;
  align-items: center;
  height: inherit;
}
.c-navbar__hamburger {
  display: none;
  margin-left: auto;
  margin-right: -0.625em;
}
@media (max-width: 31.25em) {
  .c-navbar__hamburger {
    margin-left: initial;
  }
}
@media (max-width: 48em) {
  .c-navbar__hamburger {
    display: block;
  }
}
.c-navbar__hamburger svg {
  width: 32px;
  height: 32px;
  float: right;
  fill: white;
}
.c-navbar__links {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: -1.0625em;
  transform-origin: center top;
  white-space: nowrap;
  transition: 0.25s;
}
@media (max-width: 48em) {
  .c-navbar__links {
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    margin-right: initial;
    padding: 0.625em 0;
    visibility: hidden;
    color: rgba(255, 255, 255, 0.6);
    transform-origin: center top;
    transform: scaleY(0.8);
    background: #222;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 5px 5px;
    opacity: 0;
    transition: 0.3s;
  }
  .c-navbar__links li {
    width: 100%;
    white-space: nowrap;
  }
  .c-navbar__links a {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0 2.5em;
    line-height: 2.8125em;
    transition: 0.2s;
  }
  .c-navbar__links a:hover {
    color: white;
    background: #444;
  }
}
@media (min-width: 48.0625em) {
  .c-navbar__links:hover {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}
@media (max-width: 48em) {
  .c-navbar .is-opened > ul, .c-navbar .is-opened + ul {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}
.c-navbar__logo {
  fill: white;
}
.c-navbar__link {
  display: inline-block;
  margin: 0 1.0625em;
  line-height: 3.75rem;
  transition: 0.2s;
}
.c-navbar__link.is-active {
  font-weight: bold;
}
@media (min-width: 48.0625em) {
  .c-navbar__link.is-active {
    box-shadow: inset 0 -3px;
  }
}
.c-navbar__link.is-active, .c-navbar__link:hover, .c-navbar__link:focus {
  color: white;
}
.c-navbar__link:active {
  color: rgba(255, 255, 255, 0.4);
  transition: 0s;
}
.c-navbar__hamburger, .c-navbar__dd {
  padding: 0.625em;
  align-self: stretch;
}
.c-navbar__dd {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 2.125em;
  font-size: inherit;
  text-align: left;
  transition: 0.2s;
}
@media (max-width: 31.25em) {
  .c-navbar__dd {
    margin-left: auto;
    padding: 0 1.25rem;
  }
}
.c-navbar__dd:hover, .c-navbar__dd:focus {
  color: white;
}
.c-navbar__dd svg {
  width: 1.125em;
  height: 1.125em;
  fill: currentColor;
}
@media (max-width: 62.5em) {
  .c-navbar__dd svg {
    width: 1.25em;
    height: 1.25em;
  }
}
@media (min-width: 31.3125em) {
  .c-navbar__dd svg {
    margin-right: 0.625em;
  }
}
@media (max-width: 31.25em) {
  .c-navbar__dd svg {
    fill: white;
  }
}
@media (max-width: 31.25em) {
  .c-navbar__dd span {
    display: none;
  }
}
.c-navbar__dd ul {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0.625em 0;
  visibility: hidden;
  color: rgba(255, 255, 255, 0.6);
  transform-origin: center top;
  transform: scaleY(0.8);
  background: #222;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 5px 5px;
  opacity: 0;
  transition: 0.3s;
}
@media (max-width: 31.25em) {
  .c-navbar__dd ul {
    left: auto;
    right: 0;
  }
}
.c-navbar__dd li {
  white-space: nowrap;
  line-height: 2.8125em;
}
.c-navbar__dd a {
  display: inline-block;
  width: 100%;
  padding: 0 2.5em;
  transition: 0.2s;
}
.c-navbar__dd a:hover {
  color: white;
  background: #444;
}
@media (min-width: 48.0625em) {
  .c-navbar__dd:hover ul, .c-navbar__dd:focus ul {
    visibility: visible;
    transform: none;
    opacity: 1;
  }
}

.c-urlbar {
  position: relative;
  padding: 1.5625rem;
  background: #00AAFF;
  overflow: hidden;
}
.c-urlbar::after {
  content: "";
  display: block;
  width: 120%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -10%;
  background: linear-gradient(-90deg, #00AAFF 49%, rgba(0, 170, 255, 0.7) 49%) center/35px 100px;
  transform: skew(-20deg);
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;
}
.c-urlbar__lock {
  width: 3.75rem;
  height: 3.75rem;
  position: absolute;
  z-index: 1;
  left: calc(50% - 1.875rem);
  top: calc(50% - 1.875rem);
  fill: #ff746a;
  stroke: white;
  stroke-width: 1;
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;
}
.c-urlbar.is-inactive .c-urlbar__lock {
  opacity: 1;
  visibility: visible;
}
.c-urlbar.is-inactive {
  overflow: hidden;
}
.c-urlbar.is-inactive::after {
  opacity: 0.5;
  visibility: visible;
}
.c-urlbar.is-inactive .c-switch {
  position: relative;
  z-index: 1;
}
.c-urlbar__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: -0.78125rem;
}
.c-urlbar__section {
  margin: 0.78125rem;
}
.c-urlbar__section--flex {
  flex: 1 100%;
  order: -1;
}
@media (min-width: 58.8125em) {
  .c-urlbar__section--flex {
    flex: 1;
    order: 0;
  }
}
.c-urlbar__url {
  display: flex;
  position: relative;
}

.c-url {
  flex: 1;
  height: 6.25rem;
  padding: 0.71875rem 1.125rem 3.1875rem 1.125rem;
  font-family: inherit;
  font-size: 1rem;
  color: #0a8ccd;
  border: none;
  border-radius: 10px 10px 21px 21px;
  transition: 0.3s;
  resize: none;
  overflow: hidden;
}
@media (min-width: 32.5625em) {
  .c-url {
    height: 2.625rem;
    padding: 0.71875rem 7.5rem 0.71875rem 1.125rem;
    border-radius: 21px;
  }
}
.is-bulk .c-url {
  height: 9.875rem;
  overflow: auto;
}
@media (min-width: 32.5625em) {
  .is-bulk .c-url {
    height: 6.875rem;
    border-radius: 10px;
  }
}
.c-url::-webkit-input-placeholder {
  color: #bbb;
  opacity: 1;
}
.c-url::-moz-placeholder {
  color: #bbb;
  opacity: 1;
}
.c-url:-ms-input-placeholder {
  color: #bbb;
  opacity: 1;
}
.c-url::-ms-input-placeholder {
  color: #bbb;
  opacity: 1;
}
.c-url::placeholder {
  color: #bbb;
  opacity: 1;
}
.c-url__btn {
  width: calc(100% - 6px);
  position: absolute;
  right: 3px;
  bottom: 3px;
  transition: 0.3s;
}
@media (min-width: 32.5625em) {
  .c-url__btn {
    width: auto;
  }
}
.c-url__btn span {
  font-weight: 300;
}
@media (min-width: 32.5625em) {
  .is-bulk .c-url__btn {
    bottom: 50%;
    right: 1.5625rem;
    transform: translateY(50%);
  }
}

.c-switch {
  display: inline-flex;
  position: relative;
  padding: 3px;
  border-radius: 50px;
  background: #0a8ccd;
}
.c-switch__highlight {
  width: 50%;
  position: absolute;
  top: 3px;
  left: 0;
  bottom: 3px;
  background: #00AAFF;
  border-radius: 50px;
  transition: 0.3s;
}
.c-switch button {
  position: relative;
  padding: 0.78571em 1.78571em;
  font-weight: bold;
  font-size: 0.875rem;
  line-height: 1;
  color: rgba(255, 255, 255, 0.6);
  background: none;
  border-radius: 50px;
  border: 0;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
}
.c-switch button:hover, .c-switch button:focus, .c-switch button.is-active {
  color: white;
}

.c-upgrade-bar {
  max-height: 0;
  line-height: 1.5;
  color: #7793a0;
  background: #e6f7ff;
  transition: 0.3s;
  overflow: hidden;
}
@media (max-width: 62.5em) {
  .c-upgrade-bar {
    text-align: center;
  }
  .c-upgrade-bar br {
    display: none;
  }
}
.c-upgrade-bar.is-active {
  max-height: 120px;
}
@media (max-width: 62.5em) {
  .c-upgrade-bar.is-active {
    max-height: 220px;
  }
}
.c-upgrade-bar__inner {
  display: flex;
  align-items: center;
  padding: 1.5625rem 0;
}
@media (max-width: 62.5em) {
  .c-upgrade-bar__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.c-upgrade-bar .c-btn {
  margin-right: 1.5625em;
}
@media (max-width: 62.5em) {
  .c-upgrade-bar .c-btn {
    margin: 0 0 1.5625em;
  }
}

.c-tile {
  display: flex;
  align-items: center;
  font-weight: normal;
  color: white;
  border-radius: 5px;
  overflow: hidden;
}
.c-tile__icon {
  padding: 1.5625em;
}
.c-tile__icon svg {
  width: 1.75rem;
  height: 1.8125rem;
  fill: currentColor;
}
.c-tile__value {
  display: block;
  font-size: 1.875rem;
  line-height: 1;
}
.c-tile__key {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.6);
}
.c-tile__content {
  flex: 1;
  padding: 1.5625em;
}

.c-logo {
  display: block;
  width: 12.5rem;
}

.c-header {
  display: flex;
  padding-top: 10em;
  padding-bottom: 6.25em;
  font-weight: 300;
  color: white;
  background: url(images/pattern.png) #0a8ccd fixed;
}
.c-header__title {
  font-weight: inherit;
  font-size: 2.625rem;
}
.c-header__subtitle {
  margin-top: 0.68182em;
  font-size: 1.375rem;
  line-height: 1.5;
  opacity: 0.7;
}

.c-section {
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  font-weight: 300;
}
@media (min-width: 62.5625em) {
  .c-section:not(.c-section--text):not(.c-section--no-apperance) {
    padding: 1.5625em;
    background: white;
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
  }
}
.c-section--text {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.c-section__flex {
  display: flex;
}
.c-section__flex .c-section__cell {
  flex: 1;
  display: flex;
  flex-direction: column;
}
@media (min-width: 37.5625em) {
  .c-section__cell {
    padding: 1.5625em;
    background: white;
    box-shadow: 0 3px 25px rgba(0, 0, 0, 0.12);
    border-radius: 10px;
  }
}
@media (max-width: 50em) {
  .c-section__first {
    order: -1;
  }
}
.c-section__title {
  font-weight: inherit;
  font-size: 2.25rem;
  color: #555;
}
.c-section__subtitle, .c-section p {
  margin-top: 1.04167em;
  font-size: 1.125rem;
  line-height: 1.6;
  color: #999;
}
.c-section__btn {
  margin-top: 1.5625em;
  background: #ccc;
}
.c-section__img {
  width: 100%;
  border-radius: 10px;
}
@media (max-width: 50em) {
  .c-section__next-on-800 {
    order: 1;
  }
}

.c-actions {
  margin: -0.625rem;
}
.c-actions__section {
  display: none;
  margin: 0.625rem;
}
.c-actions__section.is-visible {
  display: block;
}
.c-actions__content {
  transition: 0.3s;
}
.c-actions__wide-btn {
  display: block;
  text-align: center;
}
.c-actions__wide-btn:not(:last-of-type) {
  margin-bottom: 0.625em;
}
.c-actions .c-btn {
  width: 11.875rem;
  white-space: nowrap;
}

.c-tooltip {
  position: relative;
  text-indent: 0 !important;
  overflow: visible;
}
.c-tooltip:not([data-tooltip]):before, .c-tooltip:not([data-tooltip]):after {
  content: none;
}
.c-tooltip:before, .c-tooltip:after {
  position: absolute;
  right: 50%;
  bottom: 100%;
  z-index: -1;
  pointer-events: none;
  opacity: 0;
  transition: 0.25s;
}
.c-tooltip:before {
  content: "";
  margin-right: -6px;
  margin-bottom: 5px;
  color: #222;
  border-style: solid;
  border-width: 6px 6px 0 6px;
  border-color: currentColor transparent transparent transparent;
}
.c-tooltip:after {
  content: attr(data-tooltip);
  box-sizing: border-box;
  padding: 7px 10px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.4;
  white-space: nowrap;
  color: white;
  background: #222;
  border-radius: 3px;
  transform: translateX(50%);
}
.c-tooltip:hover, .c-tooltip:focus {
  z-index: z(tooltip);
}
.c-tooltip:hover:before, .c-tooltip:hover:after, .c-tooltip:focus:before, .c-tooltip:focus:after {
  z-index: 1;
  pointer-events: all;
  opacity: 1;
}
.c-tooltip:hover:before, .c-tooltip:focus:before {
  z-index: 2;
}

.c-list {
  font-weight: normal;
}
.c-list__item {
  border-radius: 5px;
}
.c-list__item:not(:last-of-type) {
  margin-bottom: 1.5625rem;
}
@media (max-width: 78.125em) {
  .c-list__item {
    overflow: hidden;
  }
}
.c-list__url {
  display: block;
  padding: 0.9375em 1.25em;
  line-height: 1.3;
  color: white;
  word-wrap: break-word;
  border-radius: 5px 5px 0 0;
  background: #00AAFF;
}
.c-list__ul {
  display: flex;
  flex-wrap: wrap;
  margin: 1px -1px -1px -1px;
}
.c-list__li {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
  padding: 0.83333em 0.66667em;
  font-size: 1.125rem;
  color: white;
  border: solid 1px;
  cursor: help;
}
@media (min-width: 28.1875em) {
  .c-list__li {
    flex-basis: 33.333%;
  }
}
@media (min-width: 40.6875em) {
  .c-list__li {
    flex-basis: 25%;
  }
}
@media (min-width: 50.0625em) {
  .c-list__li {
    flex-basis: 16.666%;
  }
}
@media (min-width: 78.1875em) {
  .c-list__li {
    flex: 1;
  }
  .c-list__li:first-of-type {
    border-radius: 0 0 0 5px;
  }
  .c-list__li:last-of-type {
    border-radius: 0 0 5px 0;
  }
}
.c-list__icon {
  width: 1em;
  height: 1em;
  margin-right: 0.3125rem;
  fill: currentColor;
  opacity: 0.6;
}
.c-list__number {
  line-height: 1;
}

.c-chart__fb {
  width: 65%;
  margin: -1.4375em auto 0;
}
.c-chart__mt {
  width: 80%;
  margin: -1.25em auto 0;
}
.c-chart__logo {
  display: block;
  max-width: 250px;
  width: 65%;
  margin: 2.5em auto 0.625em;
}
.c-chart__title {
  display: inline-block;
  margin-bottom: 1.875em;
  font-weight: 300;
  font-size: 1.25rem;
  color: #999;
}

.c-footer {
  padding: 5rem 0;
  background: #0a8ccd;
}
.c-footer svg {
  margin: auto;
  fill: white;
  opacity: 0.7;
}

.u-color--facebook {
  background: #3b5998;
}
.u-color--facebook .c-tile__content {
  background: #4466ae;
}
.u-color--twitter {
  background: #1da1f2;
}
.u-color--twitter .c-tile__content {
  background: #3aadf4;
}
.u-color--google {
  background: #dd4b39;
}
.u-color--google .c-tile__content {
  background: #ea5c4b;
}
.u-color--stumbleupon {
  background: #eb4924;
}
.u-color--stumbleupon .c-tile__content {
  background: #f65b38;
}
.u-color--odnoklassniki {
  background: #ed812b;
}
.u-color--odnoklassniki .c-tile__content {
  background: #f7913f;
}
.u-color--linkedin {
  background: #0077b5;
}
.u-color--linkedin .c-tile__content {
  background: #008bd4;
}
.u-color--buffer {
  background: #168eea;
}
.u-color--buffer .c-tile__content {
  background: #299df5;
}
.u-color--mailru {
  background: #168de2;
}
.u-color--mailru .c-tile__content {
  background: #239df4;
}
.u-color--pinterest {
  background: #bd081c;
}
.u-color--pinterest .c-tile__content {
  background: #d50920;
}
.u-color--reddit {
  background: #ff4500;
}
.u-color--reddit .c-tile__content {
  background: #ff5b1f;
}
.u-color--vkontakte {
  background: #45668e;
}
.u-color--vkontakte .c-tile__content {
  background: #4574ac;
}

/*-- Chart --*/
.c3 svg {
  font: 10px sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.c3 path, .c3 line {
  fill: none;
  stroke: #000;
}

.c3 text {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.c3-legend-item-tile,
.c3-xgrid-focus,
.c3-ygrid,
.c3-event-rect,
.c3-bars path {
  shape-rendering: crispEdges;
}

.c3-chart-arc path {
  stroke: #fff;
}

.c3-chart-arc text {
  fill: #fff;
  font-size: 13px;
}

/*-- Axis --*/
/*-- Grid --*/
.c3-grid line {
  stroke: #aaa;
}

.c3-grid text {
  fill: #aaa;
}

.c3-xgrid, .c3-ygrid {
  stroke-dasharray: 3 3;
}

/*-- Text on Chart --*/
.c3-text.c3-empty {
  fill: #808080;
  font-size: 2em;
}

/*-- Line --*/
.c3-line {
  stroke-width: 1px;
}

/*-- Point --*/
.c3-circle._expanded_ {
  stroke-width: 1px;
  stroke: white;
}

.c3-selected-circle {
  fill: white;
  stroke-width: 2px;
}

/*-- Bar --*/
.c3-bar {
  stroke-width: 0;
}

.c3-bar._expanded_ {
  fill-opacity: 0.75;
}

/*-- Focus --*/
.c3-target.c3-focused {
  opacity: 1;
}

.c3-target.c3-focused path.c3-line, .c3-target.c3-focused path.c3-step {
  stroke-width: 2px;
}

.c3-target.c3-defocused {
  opacity: 0.3 !important;
}

/*-- Region --*/
.c3-region {
  fill: steelblue;
  fill-opacity: .1;
}

/*-- Brush --*/
.c3-brush .extent {
  fill-opacity: .1;
}

/*-- Select - Drag --*/
/*-- Legend --*/
.c3-legend-item {
  font-size: 12px;
}

.c3-legend-item-hidden {
  opacity: 0.15;
}

.c3-legend-background {
  opacity: 0.75;
  fill: white;
  stroke: lightgray;
  stroke-width: 1;
}

/*-- Title --*/
.c3-title {
  font: 14px sans-serif;
}

/*-- Tooltip --*/
.c3-tooltip-container {
  z-index: 10;
}

.c3-tooltip {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #fff;
  empty-cells: show;
  -webkit-box-shadow: 7px 7px 12px -9px #777777;
  -moz-box-shadow: 7px 7px 12px -9px #777777;
  box-shadow: 7px 7px 12px -9px #777777;
  opacity: 0.9;
}

.c3-tooltip tr {
  border: 1px solid #CCC;
}

.c3-tooltip th {
  background-color: #aaa;
  font-size: 14px;
  padding: 2px 5px;
  text-align: left;
  color: #FFF;
}

.c3-tooltip td {
  font-size: 13px;
  padding: 3px 6px;
  background-color: #fff;
  border-left: 1px dotted #999;
}

.c3-tooltip td > span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 6px;
}

.c3-tooltip td.value {
  text-align: right;
}

/*-- Area --*/
.c3-area {
  stroke-width: 0;
  opacity: 0.2;
}

/*-- Arc --*/
.c3-chart-arcs-title {
  dominant-baseline: middle;
  font-size: 1.3em;
}

.c3-chart-arcs .c3-chart-arcs-background {
  fill: #e0e0e0;
  stroke: none;
}

.c3-chart-arcs .c3-chart-arcs-gauge-unit {
  fill: #000;
  font-size: 16px;
}

.c3-chart-arcs .c3-chart-arcs-gauge-max {
  fill: #777;
}

.c3-chart-arcs .c3-chart-arcs-gauge-min {
  fill: #777;
}

.c3-chart-arc .c3-gauge-value {
  fill: #000;
  /*  font-size: 28px !important;*/
}

body.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.sweet-overlay {
  background-color: black;
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  /* IE8 */
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  z-index: 10000;
}

.sweet-alert {
  background-color: white;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  width: 478px;
  padding: 17px;
  border-radius: 5px;
  text-align: center;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -256px;
  margin-top: -200px;
  overflow: hidden;
  display: none;
  z-index: 99999;
}

@media all and (max-width: 540px) {
  .sweet-alert {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    left: 15px;
    right: 15px;
  }
}
.sweet-alert h2 {
  color: #575757;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  text-transform: none;
  position: relative;
  margin: 25px 0;
  padding: 0;
  line-height: 40px;
  display: block;
}

.sweet-alert p {
  color: #797979;
  font-size: 16px;
  text-align: center;
  font-weight: 300;
  position: relative;
  text-align: inherit;
  float: none;
  margin: 0;
  padding: 0;
  line-height: normal;
}

.sweet-alert fieldset {
  border: none;
  position: relative;
}

.sweet-alert .sa-error-container {
  background-color: #f1f1f1;
  margin-left: -17px;
  margin-right: -17px;
  overflow: hidden;
  padding: 0 10px;
  max-height: 0;
  webkit-transition: padding 0.15s, max-height 0.15s;
  transition: padding 0.15s, max-height 0.15s;
}

.sweet-alert .sa-error-container.show {
  padding: 10px 0;
  max-height: 100px;
  webkit-transition: padding 0.2s, max-height 0.2s;
  transition: padding 0.25s, max-height 0.25s;
}

.sweet-alert .sa-error-container .icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #ea7d7d;
  color: white;
  line-height: 24px;
  text-align: center;
  margin-right: 3px;
}

.sweet-alert .sa-error-container p {
  display: inline-block;
}

.sweet-alert .sa-input-error {
  position: absolute;
  top: 29px;
  right: 26px;
  width: 20px;
  height: 20px;
  opacity: 0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.sweet-alert .sa-input-error::before, .sweet-alert .sa-input-error::after {
  content: "";
  width: 20px;
  height: 6px;
  background-color: #f06e57;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: 50%;
  margin-left: -9px;
}

.sweet-alert .sa-input-error::before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sweet-alert .sa-input-error::after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sweet-alert .sa-input-error.show {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.sweet-alert input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #d7d7d7;
  height: 43px;
  margin-top: 10px;
  margin-bottom: 17px;
  font-size: 18px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.06);
  padding: 0 12px;
  display: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.sweet-alert input:focus {
  outline: none;
  box-shadow: 0px 0px 3px #c4e6f5;
  border: 1px solid #b4dbed;
}

.sweet-alert input:focus::-moz-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5;
}

.sweet-alert input:focus:-ms-input-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5;
}

.sweet-alert input:focus::-webkit-input-placeholder {
  transition: opacity 0.3s 0.03s ease;
  opacity: 0.5;
}

.sweet-alert input::-moz-placeholder {
  color: #bdbdbd;
}

.sweet-alert input:-ms-input-placeholder {
  color: #bdbdbd;
}

.sweet-alert input::-webkit-input-placeholder {
  color: #bdbdbd;
}

.sweet-alert.show-input input {
  display: block;
}

.sweet-alert .sa-confirm-button-container {
  display: inline-block;
  position: relative;
}

.sweet-alert .la-ball-fall {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -27px;
  margin-top: 4px;
  opacity: 0;
  visibility: hidden;
}

.sweet-alert button {
  background-color: #8CD4F5;
  color: white;
  border: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  -webkit-border-radius: 4px;
  border-radius: 5px;
  padding: 10px 32px;
  margin: 26px 5px 0 5px;
  cursor: pointer;
}

.sweet-alert button:focus {
  outline: none;
  box-shadow: 0 0 2px rgba(128, 179, 235, 0.5), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.sweet-alert button:hover {
  background-color: #7ecff4;
}

.sweet-alert button:active {
  background-color: #5dc2f1;
}

.sweet-alert button.cancel {
  background-color: #C1C1C1;
}

.sweet-alert button.cancel:hover {
  background-color: #b9b9b9;
}

.sweet-alert button.cancel:active {
  background-color: #a8a8a8;
}

.sweet-alert button.cancel:focus {
  box-shadow: rgba(197, 205, 211, 0.8) 0px 0px 2px, rgba(0, 0, 0, 0.04706) 0px 0px 0px 1px inset !important;
}

.sweet-alert button[disabled] {
  opacity: .6;
  cursor: default;
}

.sweet-alert button.confirm[disabled] {
  color: transparent;
}

.sweet-alert button.confirm[disabled] ~ .la-ball-fall {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.sweet-alert button::-moz-focus-inner {
  border: 0;
}

.sweet-alert[data-has-cancel-button=false] button {
  box-shadow: none !important;
}

.sweet-alert[data-has-confirm-button=false][data-has-cancel-button=false] {
  padding-bottom: 40px;
}

.sweet-alert .sa-icon {
  width: 80px;
  height: 80px;
  border: 4px solid gray;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  margin: 20px auto;
  padding: 0;
  position: relative;
  box-sizing: content-box;
}

.sweet-alert .sa-icon.sa-error {
  border-color: #F27474;
}

.sweet-alert .sa-icon.sa-error .sa-x-mark {
  position: relative;
  display: block;
}

.sweet-alert .sa-icon.sa-error .sa-line {
  position: absolute;
  height: 5px;
  width: 47px;
  background-color: #F27474;
  display: block;
  top: 37px;
  border-radius: 2px;
}

.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 17px;
}

.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  right: 16px;
}

.sweet-alert .sa-icon.sa-warning {
  border-color: #F8BB86;
}

.sweet-alert .sa-icon.sa-warning .sa-body {
  position: absolute;
  width: 5px;
  height: 47px;
  left: 50%;
  top: 10px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #F8BB86;
}

.sweet-alert .sa-icon.sa-warning .sa-dot {
  position: absolute;
  width: 7px;
  height: 7px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-left: -3px;
  left: 50%;
  bottom: 10px;
  background-color: #F8BB86;
}

.sweet-alert .sa-icon.sa-info {
  border-color: #C9DAE1;
}

.sweet-alert .sa-icon.sa-info::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 29px;
  left: 50%;
  bottom: 17px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: #C9DAE1;
}

.sweet-alert .sa-icon.sa-info::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -3px;
  top: 19px;
  background-color: #C9DAE1;
}

.sweet-alert .sa-icon.sa-success {
  border-color: #A5DC86;
}

.sweet-alert .sa-icon.sa-success::before, .sweet-alert .sa-icon.sa-success::after {
  content: '';
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  position: absolute;
  width: 60px;
  height: 120px;
  background: white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sweet-alert .sa-icon.sa-success::before {
  -webkit-border-radius: 120px 0 0 120px;
  border-radius: 120px 0 0 120px;
  top: -7px;
  left: -33px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
}

.sweet-alert .sa-icon.sa-success::after {
  -webkit-border-radius: 0 120px 120px 0;
  border-radius: 0 120px 120px 0;
  top: -11px;
  left: 30px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0px 60px;
  transform-origin: 0px 60px;
}

.sweet-alert .sa-icon.sa-success .sa-placeholder {
  width: 80px;
  height: 80px;
  border: 4px solid rgba(165, 220, 134, 0.2);
  -webkit-border-radius: 40px;
  border-radius: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  position: absolute;
  left: -4px;
  top: -4px;
  z-index: 2;
}

.sweet-alert .sa-icon.sa-success .sa-fix {
  width: 5px;
  height: 90px;
  background-color: white;
  position: absolute;
  left: 28px;
  top: 8px;
  z-index: 1;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sweet-alert .sa-icon.sa-success .sa-line {
  height: 5px;
  background-color: #A5DC86;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 2;
}

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  width: 25px;
  left: 14px;
  top: 46px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  width: 47px;
  right: 8px;
  top: 38px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.sweet-alert .sa-icon.sa-custom {
  background-size: contain;
  border-radius: 0;
  border: none;
  background-position: center center;
  background-repeat: no-repeat;
}

/*
 * Animations
 */
@-webkit-keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@keyframes showSweetAlert {
  0% {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
  }
  45% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
  }
  80% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
}
@keyframes hideSweetAlert {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
  100% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
  }
}
@-webkit-keyframes slideFromTop {
  0% {
    top: 0%;
  }
  100% {
    top: 50%;
  }
}
@keyframes slideFromTop {
  0% {
    top: 0%;
  }
  100% {
    top: 50%;
  }
}
@-webkit-keyframes slideToTop {
  0% {
    top: 50%;
  }
  100% {
    top: 0%;
  }
}
@keyframes slideToTop {
  0% {
    top: 50%;
  }
  100% {
    top: 0%;
  }
}
@-webkit-keyframes slideFromBottom {
  0% {
    top: 70%;
  }
  100% {
    top: 50%;
  }
}
@keyframes slideFromBottom {
  0% {
    top: 70%;
  }
  100% {
    top: 50%;
  }
}
@-webkit-keyframes slideToBottom {
  0% {
    top: 50%;
  }
  100% {
    top: 70%;
  }
}
@keyframes slideToBottom {
  0% {
    top: 50%;
  }
  100% {
    top: 70%;
  }
}
.showSweetAlert[data-animation=pop] {
  -webkit-animation: showSweetAlert 0.3s;
  animation: showSweetAlert 0.3s;
}

.showSweetAlert[data-animation=none] {
  -webkit-animation: none;
  animation: none;
}

.showSweetAlert[data-animation=slide-from-top] {
  -webkit-animation: slideFromTop 0.3s;
  animation: slideFromTop 0.3s;
}

.showSweetAlert[data-animation=slide-from-bottom] {
  -webkit-animation: slideFromBottom 0.3s;
  animation: slideFromBottom 0.3s;
}

.hideSweetAlert[data-animation=pop] {
  -webkit-animation: hideSweetAlert 0.2s;
  animation: hideSweetAlert 0.2s;
}

.hideSweetAlert[data-animation=none] {
  -webkit-animation: none;
  animation: none;
}

.hideSweetAlert[data-animation=slide-from-top] {
  -webkit-animation: slideToTop 0.4s;
  animation: slideToTop 0.4s;
}

.hideSweetAlert[data-animation=slide-from-bottom] {
  -webkit-animation: slideToBottom 0.3s;
  animation: slideToBottom 0.3s;
}

@-webkit-keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes animateSuccessTip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@-webkit-keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
@keyframes animateSuccessLong {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}
@-webkit-keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}
@keyframes rotatePlaceholder {
  0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
  }
}
.animateSuccessTip {
  -webkit-animation: animateSuccessTip 0.75s;
  animation: animateSuccessTip 0.75s;
}

.animateSuccessLong {
  -webkit-animation: animateSuccessLong 0.75s;
  animation: animateSuccessLong 0.75s;
}

.sa-icon.sa-success.animate::after {
  -webkit-animation: rotatePlaceholder 4.25s ease-in;
  animation: rotatePlaceholder 4.25s ease-in;
}

@-webkit-keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1;
  }
}
@keyframes animateErrorIcon {
  0% {
    transform: rotateX(100deg);
    -webkit-transform: rotateX(100deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    -webkit-transform: rotateX(0deg);
    opacity: 1;
  }
}
.animateErrorIcon {
  -webkit-animation: animateErrorIcon 0.5s;
  animation: animateErrorIcon 0.5s;
}

@-webkit-keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes animateXMark {
  0% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  50% {
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    margin-top: 26px;
    opacity: 0;
  }
  80% {
    transform: scale(1.15);
    -webkit-transform: scale(1.15);
    margin-top: -6px;
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    margin-top: 0;
    opacity: 1;
  }
}
.animateXMark {
  -webkit-animation: animateXMark 0.5s;
  animation: animateXMark 0.5s;
}

@-webkit-keyframes pulseWarning {
  0% {
    border-color: #F8D486;
  }
  100% {
    border-color: #F8BB86;
  }
}
@keyframes pulseWarning {
  0% {
    border-color: #F8D486;
  }
  100% {
    border-color: #F8BB86;
  }
}
.pulseWarning {
  -webkit-animation: pulseWarning 0.75s infinite alternate;
  animation: pulseWarning 0.75s infinite alternate;
}

@-webkit-keyframes pulseWarningIns {
  0% {
    background-color: #F8D486;
  }
  100% {
    background-color: #F8BB86;
  }
}
@keyframes pulseWarningIns {
  0% {
    background-color: #F8D486;
  }
  100% {
    background-color: #F8BB86;
  }
}
.pulseWarningIns {
  -webkit-animation: pulseWarningIns 0.75s infinite alternate;
  animation: pulseWarningIns 0.75s infinite alternate;
}

@-webkit-keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Internet Explorer 9 has some special quirks that are fixed here */
/* The icons are not animated. */
/* This file is automatically merged into sweet-alert.min.js through Gulp */
/* Error icon */
.sweet-alert .sa-icon.sa-error .sa-line.sa-left {
  -ms-transform: rotate(45deg) \9;
}

.sweet-alert .sa-icon.sa-error .sa-line.sa-right {
  -ms-transform: rotate(-45deg) \9;
}

/* Success icon */
.sweet-alert .sa-icon.sa-success {
  border-color: transparent\9;
}

.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
  -ms-transform: rotate(45deg) \9;
}

.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
  -ms-transform: rotate(-45deg) \9;
}

/*!
 * Load Awesome v1.1.0 (http://github.danielcardoso.net/load-awesome/)
 * Copyright 2015 Daniel Cardoso <@DanielCardoso>
 * Licensed under MIT
 */
.la-ball-fall,
.la-ball-fall > div {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.la-ball-fall {
  display: block;
  font-size: 0;
  color: #fff;
}

.la-ball-fall.la-dark {
  color: #333;
}

.la-ball-fall > div {
  display: inline-block;
  float: none;
  background-color: currentColor;
  border: 0 solid currentColor;
}

.la-ball-fall {
  width: 54px;
  height: 18px;
}

.la-ball-fall > div {
  width: 10px;
  height: 10px;
  margin: 4px;
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: ball-fall 1s ease-in-out infinite;
  -moz-animation: ball-fall 1s ease-in-out infinite;
  -o-animation: ball-fall 1s ease-in-out infinite;
  animation: ball-fall 1s ease-in-out infinite;
}

.la-ball-fall > div:nth-child(1) {
  -webkit-animation-delay: -200ms;
  -moz-animation-delay: -200ms;
  -o-animation-delay: -200ms;
  animation-delay: -200ms;
}

.la-ball-fall > div:nth-child(2) {
  -webkit-animation-delay: -100ms;
  -moz-animation-delay: -100ms;
  -o-animation-delay: -100ms;
  animation-delay: -100ms;
}

.la-ball-fall > div:nth-child(3) {
  -webkit-animation-delay: 0ms;
  -moz-animation-delay: 0ms;
  -o-animation-delay: 0ms;
  animation-delay: 0ms;
}

.la-ball-fall.la-sm {
  width: 26px;
  height: 8px;
}

.la-ball-fall.la-sm > div {
  width: 4px;
  height: 4px;
  margin: 2px;
}

.la-ball-fall.la-2x {
  width: 108px;
  height: 36px;
}

.la-ball-fall.la-2x > div {
  width: 20px;
  height: 20px;
  margin: 8px;
}

.la-ball-fall.la-3x {
  width: 162px;
  height: 54px;
}

.la-ball-fall.la-3x > div {
  width: 30px;
  height: 30px;
  margin: 12px;
}

/*
 * Animation
 */
@-webkit-keyframes ball-fall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-145%);
    transform: translateY(-145%);
  }
  10% {
    opacity: .5;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  90% {
    opacity: .5;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(145%);
    transform: translateY(145%);
  }
}
@-moz-keyframes ball-fall {
  0% {
    opacity: 0;
    -moz-transform: translateY(-145%);
    transform: translateY(-145%);
  }
  10% {
    opacity: .5;
  }
  20% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  90% {
    opacity: .5;
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(145%);
    transform: translateY(145%);
  }
}
@-o-keyframes ball-fall {
  0% {
    opacity: 0;
    -o-transform: translateY(-145%);
    transform: translateY(-145%);
  }
  10% {
    opacity: .5;
  }
  20% {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  90% {
    opacity: .5;
  }
  100% {
    opacity: 0;
    -o-transform: translateY(145%);
    transform: translateY(145%);
  }
}
@keyframes ball-fall {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-145%);
    -moz-transform: translateY(-145%);
    -o-transform: translateY(-145%);
    transform: translateY(-145%);
  }
  10% {
    opacity: .5;
  }
  20% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  90% {
    opacity: .5;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(145%);
    -moz-transform: translateY(145%);
    -o-transform: translateY(145%);
    transform: translateY(145%);
  }
}
