title MarketingTool.io
meta(name="author" content="Saijo George, Sumesh Suvarna")
meta(name="copyright" content="MarketingTool.io")
meta(name="description" content="A bunch of marketing tools to save time and effort for digital marketers. Created by Saijo George and Sumesh Suvarna for bragging rights.")

meta(property="article:author" content="https://www.facebook.com/SaijoGeorge, https://www.facebook.com/sumesh.girisan")
meta(property="og:site_name" content="MarketingTool.io")
meta(property="og:title" content="MarketingTool.io ~ Best Tools for Marketers")
meta(property="og:description" content="A bunch of marketing tools to save time and effort for digital marketers. Created b Saijo George and Sumesh Suvarna for bragging rights.")
meta(property="og:type" content="website")
meta(property="og:url" content="https://marketingtool.io")
meta(property="og:image" content="https://marketingtool.io/assets/banners/facebook.png")

meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:site" content="@marketingtoolio")
meta(name="twitter:creator" content="@Saijo_George, @GsSumesh1")
meta(name="twitter:title" content="MarketingTool.io ~ Best Tools for Marketers")
meta(name="twitter:domain" content="https://marketingtool.io")
meta(name="twitter:description" content="A bunch of marketing tools to save time and effort for digital marketers. Createdby Saijo George and Sumesh Suvarna for bragging rights.")
meta(name="twitter:image:src" content="https://marketingtool.io/assets/banners/twitter.png")

meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="robots" content="all")
script(type="application/ld+json").
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "name": "MarketingTool.io",
        "url": "https://marketingtool.io"
    }

link(rel="manifest" href="/manifest.json")

//- Add to homescreen for Chrome on Android
meta(name="mobile-web-app-capable" content="yes")
meta(name="application-name" content="MarketingTool.io")
link(rel="icon" sizes="192x192" href="/images/touch/chrome-touch-icon-192x192.png")

//- Add to homescreen for Safari on iOS
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="black")
meta(name="apple-mobile-web-app-title" content="MarketingTool.io")
link(rel="apple-touch-icon" href="/images/touch/android-icon-192x192.png")

//- Chrome for Android theme color
meta(name="theme-color" content="#0095e0")

//- Tile color for Win8
meta(name="msapplication-TileColor" content="#ffffff")

//- Tile icon for Win8 (144x144)
meta(name="msapplication-TileImage" content="/images/touch/ms-icon-144x144.png")

link(rel="icon" type="image/png" sizes="16x16" href="/images/touch/favicon-16x16.png")
link(rel="icon" type="image/png" sizes="32x32" href="/images/touch/favicon-32x32.png")
link(rel="icon" type="image/png" sizes="96x96" href="/images/touch/favicon-96x96.png")

link(rel="apple-touch-icon" sizes="57x57" href="/images/touch/apple-icon-57x57.png")
link(rel="apple-touch-icon" sizes="60x60" href="/images/touch/apple-icon-60x60.png")
link(rel="apple-touch-icon" sizes="72x72" href="/images/touch/apple-icon-72x72.png")
link(rel="apple-touch-icon" sizes="76x76" href="/images/touch/apple-icon-76x76.png")
link(rel="apple-touch-icon" sizes="114x114" href="/images/touch/apple-icon-114x114.png")
link(rel="apple-touch-icon" sizes="120x120" href="/images/touch/apple-icon-120x120.png")
link(rel="apple-touch-icon" sizes="144x144" href="/images/touch/apple-icon-144x144.png")
link(rel="apple-touch-icon" sizes="152x152" href="/images/touch/apple-icon-152x152.png")
link(rel="apple-touch-icon" sizes="180x180" href="/images/touch/apple-icon-180x180.png")

link(rel="stylesheet" href="style.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700")
