doctype html
html(lang="en")
    head
        include includes/_metadata
    body
        nav.c-navbar.o-spacing.js-navbar
            div.c-navbar__inner.o-base-width
                a.c-navbar__logo(href="#")
                    include includes/_logo-svg
                button.c-navbar__dd
                    svg: use(xlink:href="images/icons.svg#tools")
                    span Other tools
                    ul
                        li: a(href="#0") Twitter Outreach
                        li: a(href="#0") Tool
                        li: a(href="#0") Other Tool
                button.c-navbar__hamburger.
                    <svg viewBox="0 0 24 24"><path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"/></svg>
                ul.c-navbar__links
                    li: a.c-navbar__link(href="socialmediamonitoring.html") Social monitoring
                    li: a.c-navbar__link.is-active(href="aboutus.html") About
                    li: a#login.c-navbar__link.c-login-btn(href="#Login") Login
                    li: a#logout.c-navbar__link.c-logout-btn(href="#Logout") Logout
                    li: a.c-navbar__link(href="#0") Help

        main.o-spacing: div.o-base-width

            section.c-section.c-section--text.o-grid.o-grid--middle: div.o-gutters--80.o-gutters--25-on-800
                div.o-grid--5-5.o-grid--1-1-on-800
                    h2.c-section__title About Us
                    p At MarketingTool.io, we work to solve some of the problem in digital marketing, most of the tools we create will be because of the frustrations we have faced while working on a client or one our own side projects. (We do confess, some of these tools were created on a whim ¯\_(ツ)_/¯ ).
                    p We take pride in the tools we have created, these have been a great learning experience for us and it has been quite fulfilling. Granted it’s not as noble as working on one of the <a href="https://en.wikipedia.org/wiki/Millennium_Prize_Problems">Millennium Problems</a>, but each time we receive a compliment or a favorable mention for our tools we get excited.
                    p MarketingTool.io is made up of 2 human beings, no cats or dogs were hired to be part of the team. Saijo George works as the marketer and Sumesh Suverna is the developer. Both of us are located in Melbourne, Australia. 



            section.c-section.c-section--text.o-grid.o-grid--middle: div.o-gutters--80.o-gutters--25-on-800
                div.o-grid--2-5.o-grid--1-1-on-800.c-section__next-on-800
                    img.c-section__img(src="../images/saijo_profile_small.jpg" alt="saijo")
                div.o-grid--3-5.o-grid--1-1-on-800
                    h2.c-section__title Saijo George
                    p Digital Marketer with a strong focus on technical SEO and design. One of the top 100 makers on ProductHunt, co-organizer of the SEO Meetup in Melbourne, an instructor at General Assembly. Have worked on SEO for brands like Envato, AEON. Currently works as the SEO Strategy Director at Supple. 

            section.c-section.c-section--text.o-grid.o-grid--middle: div.o-gutters--80.o-gutters--25-on-800
                div.o-grid--3-5.o-grid--1-1-on-800
                    h2.c-section__title Sumesh Suvarna
                    p A developer by profession but a student at heart. Passion for learning and working on open stack and cloud solutions especially AWS. Worked as a consultant to Nokia, Target, Equifax and more. At present settled in Melbourne with my wife and working as a developer at MYOB. 
                div.o-grid--2-5.o-grid--1-1-on-800
                    img.c-section__img(src="../images/sumesh_profile_small.jpg" alt="sumesh")

        footer.c-footer
            include includes/_logo-svg
