doctype html
html(lang="en")
    head
        include includes/_metadata
    body
        nav.c-navbar.o-spacing.js-navbar
            div.c-navbar__inner.o-base-width
                a.c-navbar__logo(href="#")
                    include includes/_logo-svg
                button.c-navbar__dd
                    svg: use(xlink:href="images/icons.svg#tools")
                    span Other tools
                    ul
                        li: a(href="#0") Twitter Outreach
                        li: a(href="#0") Tool
                        li: a(href="#0") Other Tool
                button.c-navbar__hamburger.
                    <svg viewBox="0 0 24 24"><path d="M3,6H21V8H3V6M3,11H21V13H3V11M3,16H21V18H3V16Z"/></svg>
                ul.c-navbar__links
                    li: a.c-navbar__link.is-active(href="#0") Social monitoring
                    li: a.c-navbar__link(href="#0") About
                    li: a#login.c-navbar__link.c-login-btn(href="#Login") Login
                    li: a#logout.c-navbar__link.c-logout-btn(href="#Logout") Logout
                    li: a.c-navbar__link(href="#0") Help

        div.c-upgrade-bar.o-spacing: div.c-upgrade-bar__inner.o-base-width
            a.c-btn.c-btn--lg.c-btn--red(href="#0").c-upgrade-btn Upgrade to premium account
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam

        header.c-urlbar.o-spacing: div.o-base-width
            div.c-urlbar__grid
                div.c-urlbar__section
                    div.c-switch
                        div.c-switch__highlight
                        button(data-value="single") Single URL
                        button(data-value="bulk") Bulk input

                div.c-urlbar__section.c-urlbar__section--flex.c-urlbar__url
                    svg.c-urlbar__lock: use(xlink:href="images/icons.svg#lock")
                    textarea.c-url(rows="1" data-single-placeholder="Enter your Website URL to see the magic!" data-bulk-placeholder="Enter your Website URL to see the magic!\nSeparated by a new line.\nSigned in users gets up to 5 URLs for free.")
                    button.c-url__btn.c-btn.c-btn--sm.c-btn--red Submit

                div.c-urlbar__section: div.c-actions
                    div.c-actions__section(data-mode="single")
                        div.c-actions__content
                            a.c-btn.c-btn--md.c-btn--blue-dark.c-btn-single-download(href="#0") Download PDF
                    div.c-actions__section(data-mode="bulk")
                        div.c-actions__content
                            a.c-btn.c-btn--md.c-btn--blue-dark.c-actions__wide-btn.c-btn-bulk-download(href="#0") Download CSV
                            a.c-btn.c-btn--md.c-btn--blue-dark.c-actions__wide-btn.c-btn-bulk-googledrive(href="#0") Open in Google Docs

        main.o-spacing: div.o-base-width
            section.c-section.o-grid#single-section: div.o-gutters--25
                div.o-grid--1-4.o-grid--1-3-on-1200.o-grid--1-2-on-1000.o-grid--1-1-on-700
                    div.c-tile.u-color--facebook
                        div.c-tile__icon: svg: use(xlink:href="images/icons.svg#facebook-shares")
                        div.c-tile__content
                            span.c-tile__value.js-number.facebook_shares_count 27373
                            span.c-tile__key Facebook shares

                div.o-grid--1-4.o-grid--1-3-on-1200.o-grid--1-2-on-1000.o-grid--1-1-on-700
                    div.c-tile.u-color--google
                        div.c-tile__icon: svg: use(xlink:href="images/icons.svg#google-plus")
                        div.c-tile__content
                            span.c-tile__value.js-number.google_shares_count 12856
                            span.c-tile__key Google Plus shares

                div.o-grid--1-4.o-grid--1-3-on-1200.o-grid--1-2-on-1000.o-grid--1-1-on-700
                    div.c-tile.u-color--stumbleupon
                        div.c-tile__icon: svg: use(xlink:href="images/icons.svg#stumbleupon")
                        div.c-tile__content
                            span.c-tile__value.js-number.stumbleupon_shares_count 547
                            span.c-tile__key StumbleUpon

                div.o-grid--1-4.o-grid--1-3-on-1200.o-grid--1-2-on-1000.o-grid--1-1-on-700
                    div.c-tile.u-color--odnoklassniki
                        div.c-tile__icon: svg: use(xlink:href="images/icons.svg#odnoklassniki")
                        div.c-tile__content
                            span.c-tile__value.js-number.odnoklassniki_shares_count 7511
                            span.c-tile__key Odnoklassniki

                div.o-grid--1-4.o-grid--1-3-on-1200.o-grid--1-2-on-1000.o-grid--1-1-on-700
                    div.c-tile.u-color--facebook
                        div.c-tile__icon: svg: use(xlink:href="images/icons.svg#facebook-comments")
                        div.c-tile__content
                            span.c-tile__value.js-number.facebook_comments_count 121
                            span.c-tile__key Facebook comments

                div.o-grid--1-4.o-grid--1-3-on-1200.o-grid--1-2-on-1000.o-grid--1-1-on-700
                    div.c-tile.u-color--twitter
                        div.c-tile__icon: svg: use(xlink:href="images/Twitter_Logo_White_On_Blue.svg")
                        div.c-tile__content
                            span.c-tile__value.js-number.twitter_count 121
                            span.c-tile__key Twitter Count

                div.o-grid--1-4.o-grid--1-3-on-1200.o-grid--1-2-on-1000.o-grid--1-1-on-700
                    div.c-tile.u-color--linkedin
                        div.c-tile__icon: svg: use(xlink:href="images/icons.svg#linkedin")
                        div.c-tile__content
                            span.c-tile__value.js-number.linkedin_shares_count 9741
                            span.c-tile__key LinkedIn shares

                div.o-grid--1-4.o-grid--1-3-on-1200.o-grid--1-2-on-1000.o-grid--1-1-on-700
                    div.c-tile.u-color--buffer
                        div.c-tile__icon: svg: use(xlink:href="images/icons.svg#buffer")
                        div.c-tile__content
                            span.c-tile__value.js-number.buffer_shares_count 13300
                            span.c-tile__key Buffer

                div.o-grid--1-4.o-grid--1-3-on-1200.o-grid--1-2-on-1000.o-grid--1-1-on-700
                    div.c-tile.u-color--mailru
                        div.c-tile__icon: svg: use(xlink:href="images/icons.svg#mailru")
                        div.c-tile__content
                            span.c-tile__value.js-number.mailru_shares_count 9241
                            span.c-tile__key Mail.ru

                div.o-grid--1-4.o-grid--1-3-on-1200.o-grid--1-2-on-1000.o-grid--1-1-on-700
                    div.c-tile.u-color--facebook
                        div.c-tile__icon: svg: use(xlink:href="images/icons.svg#facebook-likes")
                        div.c-tile__content
                            span.c-tile__value.js-number.facebook_likes_count 390
                            span.c-tile__key Facebook likes

                div.o-grid--1-4.o-grid--1-3-on-1200.o-grid--1-2-on-1000.o-grid--1-1-on-700
                    div.c-tile.u-color--pinterest
                        div.c-tile__icon: svg: use(xlink:href="images/icons.svg#pinterest")
                        div.c-tile__content
                            span.c-tile__value.js-number.pinterest_shares_count 2832
                            span.c-tile__key Pinterest

                div.o-grid--1-4.o-grid--1-3-on-1200.o-grid--1-2-on-1000.o-grid--1-1-on-700
                    div.c-tile.u-color--reddit
                        div.c-tile__icon: svg: use(xlink:href="images/icons.svg#reddit")
                        div.c-tile__content
                            span.c-tile__value.js-number.reddit_shares_count 10100
                            span.c-tile__key Reddit

                div.o-grid--1-4.o-grid--1-3-on-1200.o-grid--1-2-on-1000.o-grid--1-1-on-700
                    div.c-tile.u-color--vkontakte
                        div.c-tile__icon: svg: use(xlink:href="images/icons.svg#vkontakte")
                        div.c-tile__content
                            span.c-tile__value.js-number.vkontakte_shares_count 1490
                            span.c-tile__key VKontakte

            section.c-section.c-list#bulk-section


            section.c-section.c-section--no-apperance.o-grid#single-chart-section: div.o-gutters--50
                div.o-grid--1-3.o-grid--1-1-on-1000.c-section__flex: div.c-section__cell: div
                    h2#fb-chart-Header.c-chart__title Facebook total: 14
                    div#fb-chart.c-chart__fb

                div.o-grid--1-3.o-grid--1-1-on-1000.c-section__flex: div.c-section__cell: div
                    h2.c-chart__title MarketingTool.io Score
                    div#mt-chart.c-chart__mt
                    img.c-chart__logo(src="images/logo.png" alt="Logo")

                div.o-grid--1-3.o-grid--1-1-on-1000.c-section__flex: div.c-section__cell: div
                    h2.c-chart__title All shares
                    div#all-chart

            section.c-section.c-section--text.o-grid.o-grid--middle: div.o-gutters--80.o-gutters--25-on-800
                div.o-grid--3-5.o-grid--1-1-on-800
                    h2.c-section__title See Social Media Engagement - Fast!
                    p Our Social Media Monitoring Tool offers a simple, streamlined and free way to collect data points on social media engagement with your chosen URL. It’s as easy as 1,2,3.
                    ol.c-section__subtitle
                        li Input your URL and the Social Media Monitoring Tool will collect the data online.
                        li Get the stats - social media engagement broken down numerically from platform to platform, as well as graph interpretations of the data and our own MarketingTool.io Score.
                        li Download PDF lets you grab the results and share them with whoever you need.
                div.o-grid--2-5.o-grid--1-1-on-800
                    img.c-section__img(src="http://unsplash.it/600/400?random=1" alt="")

            section.c-section.c-section--text.o-grid.o-grid--middle: div.o-gutters--80.o-gutters--25-on-800
                div.o-grid--2-5.o-grid--1-1-on-800.c-section__next-on-800
                    img.c-section__img(src="http://unsplash.it/600/400?random=2" alt="")
                div.o-grid--3-5.o-grid--1-1-on-800
                    h2.c-section__title The Time Saving Audit Tool For Social Media Marketers
                    p Social Media Monitoring Tool takes the hassle out of your next social media marketing audit. If you’re offering social media services, click Download PDF to get a quick, up-to-date social engagement overview for your clients. Measure how your campaign is tracking by checking in each month, and see which platforms work best for your brand to refine your strategy!

        footer.c-footer
            include includes/_logo-svg

        script(src="js/vendor/d3.v3.min.js")
        script(src="js/vendor/c3.min.js")
        script(src="js/vendor/lock.min.js")
        script(src="js/vendor/jwt-decode.min.js")
        script(src="js/vendor/sweetalert.min.js")
        script(src="js/vendor/jspdf.min.js")
        script(src="js/vendor/jspdf.plugin.autotable.js")
        script(src="js/vendor/xss-filters.min.js")
        script(src="js/vendor/validate.min.js")

        script(src="js/apiGateway-js-sdk/lib/axios/dist/axios.standalone.js")
        script(src="js/apiGateway-js-sdk/lib/CryptoJS/rollups/hmac-sha256.js")
        script(src="js/apiGateway-js-sdk/lib/CryptoJS/rollups/sha256.js")
        script(src="js/apiGateway-js-sdk/lib/CryptoJS/components/hmac.js")
        script(src="js/apiGateway-js-sdk/lib/CryptoJS/components/enc-base64.js")
        script(src="js/apiGateway-js-sdk/lib/url-template/url-template.js")
        script(src="js/apiGateway-js-sdk/lib/apiGatewayCore/sigV4Client.js")
        script(src="js/apiGateway-js-sdk/lib/apiGatewayCore/apiGatewayClient.js")
        script(src="js/apiGateway-js-sdk/lib/apiGatewayCore/simpleHttpClient.js")
        script(src="js/apiGateway-js-sdk/lib/apiGatewayCore/utils.js")
        script(src="js/apiGateway-js-sdk/apigClient.js")

        | <!-- build:js -->
        script(src="js/QueryParams.js")
        script(src="js/State.js")
        script(src="js/Switch.js")
        script(src="js/URLResult.js")
        script(src="js/URLInput.js")
        script(src="js/BulkInput.js")
        script(src="js/ActionButtons.js")
        script(src="js/AnimateNumbers.js")
        script(src="js/MenuBtn.js")
        script(src="js/charts.js")
        script(src="js/Authentication.js")
        script(src="script.js")
        | <!-- endbuild -->
